* {
    BG:    #1a1b26ff;
    BGA:   #f7768eff;
    FG:    #a9b1d6ff;
    FGA:   #f7768eff;
    BDR:   #f7768eff;
    SEL:   #1a1b26ff;
    UGT:   #f7768eff;
    IMG:   #e0af68ff;
    OFF:   #565f89ff;
    ON:    #9ece6aff;
}
